In [1]:
import pickle
import getpass, os
import numpy as np
import pandas as pd
os.environ['PSQL_USER']='infodenguedev'
os.environ['PSQL_HOST']='159.69.25.201'
os.environ['PSQL_DB']='dengue'
os.environ['PSQL_PORT']='5432'
os.environ['PSQL_PASSWORD']="infodenguedev"

In [2]:
import matplotlib.pyplot as plt
from upload_data import get_cluster_data, data_cop

Olhando apenas para os dados do copernicus:

In [3]:
df_rio = data_cop(2503308)

df_rio

,temp_min,temp_max,umid_min,umid_max,pressao_min,pressao_max
date,,,,,,
1999-12-31,21.953949,31.481842,42.940120,97.110245,0.994230,0.999366
2000-01-01,22.606903,33.094270,35.281700,84.589460,0.992641,0.997483
2000-01-02,22.644806,33.985870,29.300728,87.335785,0.992451,0.996811
2000-01-03,23.957092,33.610016,35.677536,81.569200,0.992015,0.996974
2000-01-04,23.363007,29.425629,49.011677,82.555374,0.993911,0.998497
...,...,...,...,...,...,...
2023-04-22,22.245056,32.393340,44.745940,91.609390,0.994525,0.999416
2023-04-23,20.474548,30.845612,47.819565,85.334076,0.996655,0.999926
2023-04-24,22.072845,31.515533,47.942260,91.264540,0.997148,1.001279
2023-04-25,22.435516,31.463257,52.465374,89.113440,0.998067,1.002298
2023-04-26,23.659912,31.521637,52.480934,87.672325,0.997015,1.001417

In [16]:
df_rio.index.year.value_counts()

2012    366
2000    366
2016    366
2020    366
2022    365
2021    365
2019    365
2010    365
2011    365
2013    365
2014    365
2015    365
2017    365
2018    365
2004    335
2005    306
2001    304
2002    276
2003    183
2023    116
2009     32
2008     28
2007     15
1999      1
Name: date, dtype: int64

In [17]:
df_rio.columns[df_rio.isna().any()].tolist()

[]

In [5]:
def get_table_data(city, state, cluster = False, doenca = 'dengue', data_types = ['alerta', 'weather'], 
    predictors = ['casos', 'casos_est', 'casos_est_min',
                                     'casos_est_max', 'p_rt1', 'p_inc100k', 'temp_min',
                                      'temp_max', 'umid_min', 'pressao_min'], temp = 'old'):

    with open(f'clusters/clusters_{state}.pkl', 'rb') as fp:
            clusters = pickle.load(fp)

    data, group = get_cluster_data(city, clusters=clusters, data_types= data_types, cols= predictors, doenca = doenca, temp = temp)   

    if cluster == False: 
        for i in data.columns:

            if i.endswith(f'{city}') == False:

                del data[i]
                
    return data

# Ceará

In [4]:
c = 2304400
e = 'CE'
df_d = get_table_data(c, e, cluster = True, doenca = 'dengue', temp = 'cop')
df_d.to_csv(f'./data/dengue_{c}_cluster.csv')

In [5]:
df_d.columns[df_d.isna().any()].tolist()

[]

In [6]:
df_d

,casos_2307650,casos_est_2307650,casos_est_min_2307650,casos_est_max_2307650,p_rt1_2307650,p_inc100k_2307650,temp_min_2307650,temp_max_2307650,umid_min_2307650,pressao_min_2307650,...,casos_2302008,casos_est_2302008,casos_est_min_2302008,casos_est_max_2302008,p_rt1_2302008,p_inc100k_2302008,temp_min_2302008,temp_max_2302008,umid_min_2302008,pressao_min_2302008
2010-01-03,2,2.0,2,2,0.000000,0.871619,24.319912,30.486346,60.977150,0.996031,...,0,0.0,0,0,0.000000,0.000000,22.640307,30.403224,54.970053,0.996096
2010-01-10,3,3.0,3,3,0.000000,1.307429,24.411634,30.839578,57.369000,0.996246,...,0,0.0,0,0,0.000000,0.000000,22.182997,29.993391,56.564824,0.996851
2010-01-17,6,6.0,6,6,0.000000,2.614858,24.750937,32.868508,48.148234,0.997115,...,0,0.0,0,0,0.000000,0.000000,22.574323,31.373539,51.559022,0.997896
2010-01-24,4,4.0,4,4,0.000000,1.743238,24.381592,32.757769,52.469240,0.995866,...,0,0.0,0,0,0.000000,0.000000,22.169896,31.661416,50.600249,0.996541
2010-01-31,5,5.0,5,5,0.000000,2.179048,24.674992,31.494088,57.549285,0.995062,...,1,1.0,1,1,0.000000,4.394059,22.813411,31.559658,51.487102,0.995551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-19,71,92.0,74,200,0.009153,40.094482,22.944916,27.709486,75.758353,0.997039,...,5,5.0,5,8,0.824846,21.970297,22.074554,28.264007,64.974941,0.997236
2023-03-26,48,72.0,52,193,0.000284,31.378292,22.866660,29.595206,65.729017,0.997306,...,5,6.0,5,12,0.854627,26.364355,21.513641,28.862170,61.803014,0.998119
2023-04-02,26,59.0,32,248,0.001542,25.712767,23.083509,28.595555,74.222116,0.997248,...,4,7.0,4,20,0.799951,30.758415,21.488054,29.833902,56.197920,0.997743
2023-04-09,25,60.0,29,311,0.088288,26.148577,22.753963,28.771785,73.798959,0.996171,...,19,29.0,20,72,0.999945,127.427720,22.208356,29.759373,59.601682,0.996064
2023-04-16,0,29.5,2,235,0.000230,12.856383,23.664852,29.654367,68.503461,0.996017,...,6,33.0,9,175,0.998498,145.003950,21.303463,30.796269,54.150976,0.996604

In [7]:
df_c = get_table_data(c, e, cluster = True, doenca = 'chik', temp = 'cop')
df_c.to_csv(f'./data/chik_{c}_cluster.csv')

In [8]:
df_c.columns[df_c.isna().any()].tolist()

[]

# Paraíba

In [19]:
c = 2507507
e = 'PB'
df_d = get_table_data(c, e, cluster = True, doenca = 'dengue', temp = 'cop')
df_d.to_csv(f'./data/dengue_{c}_cluster.csv')

In [21]:
df_d

,casos_2511103,casos_est_2511103,casos_est_min_2511103,casos_est_max_2511103,p_rt1_2511103,p_inc100k_2511103,temp_min_2511103,temp_max_2511103,umid_min_2511103,pressao_min_2511103,...,casos_2502151,casos_est_2502151,casos_est_min_2502151,casos_est_max_2502151,p_rt1_2502151,p_inc100k_2502151,temp_min_2502151,temp_max_2502151,umid_min_2502151,pressao_min_2502151
2010-01-03,0,0.0,0,0,0.000000,0.00000,21.729566,31.557818,46.931300,0.996315,...,0,0.0,0,0,0.000000,0.000000,21.738957,31.729963,46.241944,0.996288
2010-01-10,0,0.0,0,0,0.000000,0.00000,21.281668,30.062966,50.423419,0.997110,...,0,0.0,0,0,0.000000,0.000000,21.265948,30.022478,50.350168,0.997178
2010-01-17,0,0.0,0,0,0.000000,0.00000,21.253671,31.024864,46.237324,0.998092,...,0,0.0,0,0,0.000000,0.000000,21.469417,30.848798,47.002854,0.998225
2010-01-24,0,0.0,0,0,0.000000,0.00000,21.149841,29.572065,59.198893,0.997034,...,0,0.0,0,0,0.000000,0.000000,21.279423,29.891706,57.686070,0.997251
2010-01-31,0,0.0,0,0,0.000000,0.00000,22.371983,31.128226,51.700630,0.995794,...,0,0.0,0,0,0.000000,0.000000,22.304238,31.093772,52.040264,0.996023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-19,0,0.0,0,0,0.000000,0.00000,21.834682,29.008676,56.809096,0.997182,...,0,0.0,0,0,0.000000,0.000000,21.913404,29.877729,52.756304,0.996908
2023-03-26,0,0.0,0,0,0.000000,0.00000,21.220830,29.040907,58.946110,0.997985,...,1,1.0,1,1,0.617693,14.013453,21.380293,29.182652,58.818106,0.998025
2023-04-02,2,2.0,2,2,0.977982,25.31966,20.860038,29.169460,57.238036,0.997669,...,0,0.0,0,0,0.000000,0.000000,20.986542,29.398860,55.340006,0.997911
2023-04-09,1,1.0,1,1,0.688757,12.65983,21.344979,29.065552,60.965549,0.996402,...,0,0.0,0,0,0.000000,0.000000,21.661068,29.409720,56.815284,0.996388
2023-04-16,0,0.0,0,0,0.000000,0.00000,21.009077,29.211073,58.089265,0.997139,...,0,0.0,0,0,0.000000,0.000000,21.001330,30.031320,52.555395,0.997242

In [20]:
df_d.columns[df_d.isna().any()].tolist()

[]

In [22]:
df_d[['casos_2503308',
 'casos_est_2503308',
 'casos_est_min_2503308',
 'casos_est_max_2503308',
 'p_rt1_2503308',
 'p_inc100k_2503308',
 'temp_min_2503308',
 'temp_max_2503308',
 'umid_min_2503308',
 'pressao_min_2503308']
]

,casos_2503308,casos_est_2503308,casos_est_min_2503308,casos_est_max_2503308,p_rt1_2503308,p_inc100k_2503308,temp_min_2503308,temp_max_2503308,umid_min_2503308,pressao_min_2503308
2010-01-03,0,0.0,0,0,0.000000,0.000000,23.367807,31.235286,54.335457,0.995683
2010-01-10,0,0.0,0,0,0.000000,0.000000,23.375685,31.410492,51.260415,0.996278
2010-01-17,0,0.0,0,0,0.000000,0.000000,23.865343,33.286996,43.698664,0.997137
2010-01-24,0,0.0,0,0,0.000000,0.000000,23.266802,32.662855,49.127546,0.996006
2010-01-31,0,0.0,0,0,0.000000,0.000000,23.642421,32.437413,49.934672,0.995087
...,...,...,...,...,...,...,...,...,...,...
2023-03-19,0,0.0,0,0,0.000000,0.000000,22.569358,28.810992,67.086026,0.996898
2023-03-26,1,1.0,1,2,0.663458,9.704027,22.362819,29.952262,59.171400,0.997619
2023-04-02,9,9.0,9,10,0.998661,87.336240,22.481328,30.241590,58.991929,0.997358
2023-04-09,0,0.0,0,4,0.000000,0.000000,22.812361,29.988059,63.633088,0.995743
2023-04-16,0,2.0,0,17,0.193436,19.408054,22.347273,31.313646,55.431014,0.996317

In [24]:
df_c = get_table_data(c, e, cluster = True, doenca = 'chik', temp = 'cop')
df_c.to_csv(f'./data/chik_{c}_cluster.csv')

In [25]:
df_c.columns[df_c.isna().any()].tolist()

[]

# Pernambuco

In [16]:
c = 2611606
e = 'PE'
df_d = get_table_data(c, e, cluster = True, doenca = 'dengue', temp = 'cop')
df_d.to_csv(f'./data/dengue_{c}_cluster.csv')

In [17]:
df_d

,casos_2611606,casos_est_2611606,casos_est_min_2611606,casos_est_max_2611606,p_rt1_2611606,p_inc100k_2611606,temp_min_2611606,temp_max_2611606,umid_min_2611606,pressao_min_2611606,casos_2609600,casos_est_2609600,casos_est_min_2609600,casos_est_max_2609600,p_rt1_2609600,p_inc100k_2609600,temp_min_2609600,temp_max_2609600,umid_min_2609600,pressao_min_2609600
2010-01-03,3,3.0,3,3,0.000000,0.181438,23.566655,29.759870,65.694005,0.996910,0,0.0,0,0,0.000000,0.000000,24.916591,28.483477,72.747520,0.996870
2010-01-10,1,1.0,1,1,0.000000,0.060479,23.361964,28.853036,67.720482,0.997645,0,0.0,0,0,0.000000,0.000000,24.849640,28.135044,72.020724,0.997587
2010-01-17,2,2.0,2,2,0.000000,0.120958,23.713884,28.708514,66.979735,0.999090,1,1.0,1,1,0.000000,0.254379,25.096527,28.133724,71.021156,0.998979
2010-01-24,1,1.0,1,1,0.000000,0.060479,23.133310,28.117144,72.603921,0.997980,0,0.0,0,0,0.000000,0.000000,24.699236,27.566624,75.733819,0.997844
2010-01-31,0,0.0,0,0,0.000000,0.000000,23.832231,29.365596,70.365346,0.996689,0,0.0,0,0,0.000000,0.000000,24.933786,28.324955,75.165093,0.996633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-19,138,207.0,167,272,0.991736,12.519195,23.319445,29.347922,65.023093,0.997163,8,12.0,8,36,0.007849,3.052542,24.543261,28.324842,71.254825,0.997108
2023-03-26,103,187.0,140,277,0.449656,11.309610,23.407008,28.624516,69.804000,0.998097,1,7.5,1,53,0.000863,1.907839,24.559213,27.799722,76.674585,0.997903
2023-04-02,71,169.0,119,267,0.078816,10.220985,23.293021,29.136257,65.368153,0.997864,1,9.0,1,79,0.079855,2.289406,24.869830,28.264430,71.060175,0.997779
2023-04-09,69,177.0,113,320,0.301938,10.704819,23.688411,28.953186,70.620498,0.996426,0,9.0,0,121,0.390062,2.289406,25.024527,28.156577,74.921788,0.996308
2023-04-16,12,140.0,52,387,0.023569,8.467088,23.486080,29.027326,67.941193,0.997353,0,10.0,0,241,0.602484,2.543785,25.262760,28.455157,71.186660,0.997181

In [18]:
df_d.columns[df_d.isna().any()].tolist()

[]

In [19]:
df_c = get_table_data(c, e, cluster = True, doenca = 'chik', temp = 'cop')
df_c.to_csv(f'./data/chik_{c}_cluster.csv')

In [20]:
df_c.columns[df_c.isna().any()].tolist()

[]

# Rio de Janeiro

In [31]:
c = 3304557
e = 'RJ'
df_d = get_table_data(c, e, cluster = True, doenca = 'dengue', temp = 'cop')
df_d.to_csv(f'./data/dengue_{c}_cluster.csv')

In [32]:
df_d

,casos_3304557,casos_est_3304557,casos_est_min_3304557,casos_est_max_3304557,p_rt1_3304557,p_inc100k_3304557,temp_min_3304557,temp_max_3304557,umid_min_3304557,pressao_min_3304557,...,casos_3303203,casos_est_3303203,casos_est_min_3303203,casos_est_max_3303203,p_rt1_3303203,p_inc100k_3303203,temp_min_3303203,temp_max_3303203,umid_min_3303203,pressao_min_3303203
2010-01-03,31,31.0,31,31.0,0.000000,0.459408,24.919604,30.475486,66.631786,0.993175,...,0,0.0,0,0,0.0,0.000000,24.576307,29.725882,69.104197,0.993357
2010-01-10,45,45.0,45,45.0,0.000000,0.666883,25.529044,32.125244,64.584100,0.995633,...,0,0.0,0,0,0.0,0.000000,25.422472,32.090062,62.984778,0.995616
2010-01-17,48,48.0,48,48.0,0.000000,0.711341,25.359598,31.999538,61.707908,0.997928,...,0,0.0,0,0,0.0,0.000000,25.379813,31.698752,60.738886,0.998017
2010-01-24,56,56.0,56,56.0,0.000000,0.829898,25.297887,32.134447,60.643620,0.996875,...,0,0.0,0,0,0.0,0.000000,25.125737,31.560263,60.907331,0.996876
2010-01-31,69,69.0,69,69.0,0.000000,1.022553,24.752454,31.623125,61.756186,0.997307,...,1,1.0,1,1,0.0,0.614655,24.321585,31.186035,61.491648,0.997287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-19,1301,1365.0,1310,1436.0,1.000000,20.228771,22.422786,29.246966,64.543411,1.001222,...,0,0.0,0,0,0.0,0.000000,22.476702,28.662031,66.835809,1.001193
2023-03-26,1439,1556.0,1452,1731.0,1.000000,23.059317,22.705122,31.532885,55.172254,1.000216,...,0,0.0,0,0,0.0,0.000000,22.541068,30.294761,63.231120,1.000406
2023-04-02,1205,1431.0,1220,1973.0,0.984832,21.206865,23.266584,28.715598,65.543365,0.999732,...,0,0.0,0,0,0.0,0.000000,23.014365,28.333513,66.737119,0.999870
2023-04-09,1265,1773.0,1281,3818.0,1.000000,26.275171,21.788199,26.828910,69.926135,1.000576,...,0,0.0,0,0,0.0,0.000000,21.670680,26.087616,73.382634,1.000633
2023-04-16,272,1712.5,292,3818.0,0.998072,25.378586,21.291582,28.017264,66.125255,0.999796,...,0,0.0,0,0,0.0,0.000000,21.069828,27.264260,69.249034,0.999858

In [33]:
df_d.columns[df_d.isna().any()].tolist()

[]

In [34]:
df_c = get_table_data(c, e, cluster = True, doenca = 'chik', temp = 'cop')
df_c.to_csv(f'./data/chik_{c}_cluster.csv')

In [35]:
df_c.columns[df_c.isna().any()].tolist()

[]