In [6]:
import pickle
import getpass, os
import numpy as np
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
# Carrega as variáveis de ambiente do arquivo .env
load_dotenv()

os.environ['PSQL_USER']=os.getenv('PSQL_USER')
os.environ['PSQL_PASSWORD']=os.getenv('PSQL_PASSWORD')
os.environ['PSQL_HOST']=os.getenv('PSQL_HOST')
os.environ['PSQL_DB']=os.getenv('PSQL_DB')
os.environ['PSQL_PORT']=os.getenv('PSQL_PORT')

In [7]:
def make_connection():
    conexao = create_engine("postgresql://{}:{}@{}:{}/{}".format(os.getenv('PSQL_USER'),
                                                              os.getenv('PSQL_PASSWORD'),
                                                              os.getenv('PSQL_HOST'),
                                                              os.getenv('PSQL_PORT'),
                                                              os.getenv('PSQL_DB')))

    return conexao

In [8]:
conexao = make_connection()
    
df = pd.read_sql_query(
            '''SELECT m.geocodigo, m.nome, r.nome, r.codigo, mr.nome, mr.codigo
                  FROM "Dengue_global"."Municipio" m
                  INNER JOIN "Dengue_global".regional r 
                  ON m.id_regional = r.id 
                  INNER JOIN "Dengue_global".macroregional mr
                  ON r.id_macroregional = mr.id;''', conexao)

df.head()

,geocodigo,nome,nome,codigo,nome,codigo
0,1100015,Alta Floresta D'Oeste,Zona da Mata,11005,Cacoal,1101
1,1100023,Ariquemes,Vale do Jamari,11001,Porto Velho,1102
2,1100031,Cabixi,Cone Sul,11006,Cacoal,1101
3,1100049,Cacoal,Café,11002,Cacoal,1101
4,1100056,Cerejeiras,Cone Sul,11006,Cacoal,1101

In [9]:
df.to_csv('macro_saude.csv', index =False)