In [1]:
import numpy as np 
import pandas as pd 
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
estados = {'RJ': 'Rio de Janeiro', 'ES': 'Espírito Santo', 'PR': 'Paraná', 'CE': 'Ceará',
               'MA': 'Maranhão', 'MG': 'Minas Gerais', 'SC': 'Santa Catarina', 'PE': 'Pernambuco', 
               'PB': 'Paraíba', 'RN': 'Rio Grande do Norte', 'PI': 'Piauí', 'AL': 'Alagoas',
               'SE': 'Sergipe', 'SP': 'São Paulo', 'RS': 'Rio Grande do Sul','PA': 'Pará',
               'AP': 'Amapá', 'RR': 'Roraima', 'RO': 'Rondônia', 'AM': 'Amazonas', 'AC': 'Acre',
               'MT': 'Mato Grosso', 'MS': 'Mato Grosso do Sul', 'GO': 'Goiás', 'TO': 'Tocantins',
               'DF': 'Distrito Federal', 'BA': 'Bahia'
               }

df_end = pd.DataFrame()


for s in estados.keys():
    
    df = pd.read_csv(f'/Users/eduardoaraujo/Documents/Github/paper-dengue-sc/params/pars_{s}_chik.csv.gz', index_col = 'Unnamed: 0')
    
    df = df.loc[df.year == 2023]
    
    df_end = pd.concat([df_end, df])

In [3]:
df_end

,geocode,muni_name,year,peak_week,beta,gamma,R0,total_cases,alpha,sum_res,ep_ini,ep_end,ep_dur
30,3304102,Porciúncula,2023,7.408430,0.742929,0.301735,2.462195,510.383085,0.593858,0.746891,202302,202316,14
0,3203601,Mucurici,2023,15.706466,0.497377,0.301097,1.651881,286.084047,0.394629,2.941172,202302,202331,29
1,3201605,Conceição Da Barra,2023,41.763195,0.428822,0.314411,1.363891,715.183613,0.266803,0.895456,202308,202345,37
2,3200102,Afonso Cláudio,2023,10.761577,0.827338,0.300043,2.757400,693.039767,0.637340,0.700878,202305,202318,13
6,3203320,Marataízes,2023,14.950670,0.481317,0.300000,1.604390,3038.541721,0.376710,1.454679,202302,202331,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2911808,Guaratinga,2023,5.000000,0.882248,0.330000,2.673479,282.104221,0.625956,0.880875,202302,202312,10
158,2905701,Camaçari,2023,26.615823,0.519108,0.302989,1.713291,267.084125,0.416328,1.498550,202309,202341,32
169,2905909,Campo Alegre De Lourdes,2023,13.478558,0.790134,0.318481,2.480944,605.752813,0.596928,0.531509,202306,202321,15
175,2916203,Itapé,2023,7.184233,0.660983,0.300084,2.202656,291.216495,0.546003,2.318013,202302,202317,15
178,2908101,Cocos,2023,18.744064,1.158837,0.300793,3.852601,203.639304,0.740435,0.672830,202316,202324,8

In [4]:
df_end.sort_values(by='total_cases', ascending = True)

,geocode,muni_name,year,peak_week,beta,gamma,R0,total_cases,alpha,sum_res,ep_ini,ep_end,ep_dur
24,2708303,São José Da Laje,2023,11.842863,0.481142,0.300347,1.601955,48.270938,0.375763,2.756812,202302,202328,26
0,1300805,Borba,2023,11.318498,0.438063,0.300000,1.460209,66.025424,0.315167,2.906876,202302,202331,29
33,3150539,Pingo D'água,2023,38.154491,0.347800,0.300030,1.159217,81.831530,0.137349,5.368646,202302,202345,43
122,2305407,Icó,2023,13.682780,0.429925,0.300100,1.432607,87.124092,0.301972,1.434495,202302,202334,32
3,3548401,Santópolis Do Aguapeí,2023,14.632904,0.630542,0.308840,2.041649,114.040753,0.510200,1.280068,202304,202325,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,3205101,Viana,2023,22.806834,0.435731,0.300000,1.452436,5048.715680,0.311501,1.682315,202302,202342,40
44,3167202,Sete Lagoas,2023,14.729229,0.743971,0.300000,2.479903,6010.579355,0.596758,1.059212,202307,202323,16
96,3131307,Ipatinga,2023,20.110780,0.567974,0.300000,1.893246,6591.221846,0.471807,0.740549,202306,202332,26
63,3106200,Belo Horizonte,2023,15.042218,0.552880,0.300000,1.842932,8070.219110,0.457386,0.798020,202302,202328,26
77,3143302,Montes Claros,2023,7.090781,0.739529,0.300000,2.465097,18427.204185,0.594336,1.065384,202302,202316,14

In [5]:
df_end['uf'] = [str(x)[:2] for x in df_end.geocode]

df_end

,geocode,muni_name,year,peak_week,beta,gamma,R0,total_cases,alpha,sum_res,ep_ini,ep_end,ep_dur,uf
30,3304102,Porciúncula,2023,7.408430,0.742929,0.301735,2.462195,510.383085,0.593858,0.746891,202302,202316,14,33
0,3203601,Mucurici,2023,15.706466,0.497377,0.301097,1.651881,286.084047,0.394629,2.941172,202302,202331,29,32
1,3201605,Conceição Da Barra,2023,41.763195,0.428822,0.314411,1.363891,715.183613,0.266803,0.895456,202308,202345,37,32
2,3200102,Afonso Cláudio,2023,10.761577,0.827338,0.300043,2.757400,693.039767,0.637340,0.700878,202305,202318,13,32
6,3203320,Marataízes,2023,14.950670,0.481317,0.300000,1.604390,3038.541721,0.376710,1.454679,202302,202331,29,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2911808,Guaratinga,2023,5.000000,0.882248,0.330000,2.673479,282.104221,0.625956,0.880875,202302,202312,10,29
158,2905701,Camaçari,2023,26.615823,0.519108,0.302989,1.713291,267.084125,0.416328,1.498550,202309,202341,32,29
169,2905909,Campo Alegre De Lourdes,2023,13.478558,0.790134,0.318481,2.480944,605.752813,0.596928,0.531509,202306,202321,15,29
175,2916203,Itapé,2023,7.184233,0.660983,0.300084,2.202656,291.216495,0.546003,2.318013,202302,202317,15,29
178,2908101,Cocos,2023,18.744064,1.158837,0.300793,3.852601,203.639304,0.740435,0.672830,202316,202324,8,29

In [6]:
df_end.uf.value_counts().index

Index(['31', '29', '32', '50', '23', '17', '22', '28', '21', '24', '35', '13',
       '52', '33', '14', '15', '26', '41', '27'],
      dtype='object')

In [7]:
n_to_uf = {
    '31': 'MG', '29': 'BA', '32':'ES', '50': 'MS', '23':'CE', '17':'TO', '22': 'PI', '28':'SE', '21':'MA',
    '24':'RN', '35': 'SP', 
    '13' : 'AM',
       '52':'GO', '33': 'RJ', '14':'RR', '15':'PA', '26':'PE', '41': 'PR', '27':'AL'
}

In [8]:
df_end['state']= df_end['uf'].replace(n_to_uf)

df_end

,geocode,muni_name,year,peak_week,beta,gamma,R0,total_cases,alpha,sum_res,ep_ini,ep_end,ep_dur,uf,state
30,3304102,Porciúncula,2023,7.408430,0.742929,0.301735,2.462195,510.383085,0.593858,0.746891,202302,202316,14,33,RJ
0,3203601,Mucurici,2023,15.706466,0.497377,0.301097,1.651881,286.084047,0.394629,2.941172,202302,202331,29,32,ES
1,3201605,Conceição Da Barra,2023,41.763195,0.428822,0.314411,1.363891,715.183613,0.266803,0.895456,202308,202345,37,32,ES
2,3200102,Afonso Cláudio,2023,10.761577,0.827338,0.300043,2.757400,693.039767,0.637340,0.700878,202305,202318,13,32,ES
6,3203320,Marataízes,2023,14.950670,0.481317,0.300000,1.604390,3038.541721,0.376710,1.454679,202302,202331,29,32,ES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2911808,Guaratinga,2023,5.000000,0.882248,0.330000,2.673479,282.104221,0.625956,0.880875,202302,202312,10,29,BA
158,2905701,Camaçari,2023,26.615823,0.519108,0.302989,1.713291,267.084125,0.416328,1.498550,202309,202341,32,29,BA
169,2905909,Campo Alegre De Lourdes,2023,13.478558,0.790134,0.318481,2.480944,605.752813,0.596928,0.531509,202306,202321,15,29,BA
175,2916203,Itapé,2023,7.184233,0.660983,0.300084,2.202656,291.216495,0.546003,2.318013,202302,202317,15,29,BA
178,2908101,Cocos,2023,18.744064,1.158837,0.300793,3.852601,203.639304,0.740435,0.672830,202316,202324,8,29,BA

In [9]:
def n_chik_ep(state, geocode):
    file_pars_episcanner= f'/Users/eduardoaraujo/Documents/Github/paper-dengue-sc/params/pars_{state}_chik.csv.gz'

    pars = pd.read_csv(file_pars_episcanner, index_col = 'Unnamed: 0')
    
    pars = pars.loc[(pars.geocode == geocode) & (pars.year < 2023)]
    
    #primeira epidemia
    try: 
        y = min(pars.year)
    
    except:
        y = 0
    
    # última epidemia antes de 2023
    try: 
        y2 = max(pars.year)
    
    except:
        y2 = 0


    return pars.shape[0], y, y2

In [10]:
def process_row(row):
    n, y, y2  = n_chik_ep(state=row['state'], geocode=row['geocode'])
    return pd.Series({'n_last_ep': n, 'year_first_ep': y,
                     'year_last_ep_before_2023':y2})

# Aplicando a função a cada linha do DataFrame e atribuindo os resultados às novas colunas
df_end[['n_last_ep', 'year_first_ep', 'year_last_ep_before_2023']] = df_end.apply(process_row, axis=1)
df_end

,geocode,muni_name,year,peak_week,beta,gamma,R0,total_cases,alpha,sum_res,ep_ini,ep_end,ep_dur,uf,state,n_last_ep,year_first_ep,year_last_ep_before_2023
30,3304102,Porciúncula,2023,7.408430,0.742929,0.301735,2.462195,510.383085,0.593858,0.746891,202302,202316,14,33,RJ,3,2016,2020
0,3203601,Mucurici,2023,15.706466,0.497377,0.301097,1.651881,286.084047,0.394629,2.941172,202302,202331,29,32,ES,0,0,0
1,3201605,Conceição Da Barra,2023,41.763195,0.428822,0.314411,1.363891,715.183613,0.266803,0.895456,202308,202345,37,32,ES,0,0,0
2,3200102,Afonso Cláudio,2023,10.761577,0.827338,0.300043,2.757400,693.039767,0.637340,0.700878,202305,202318,13,32,ES,0,0,0
6,3203320,Marataízes,2023,14.950670,0.481317,0.300000,1.604390,3038.541721,0.376710,1.454679,202302,202331,29,32,ES,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2911808,Guaratinga,2023,5.000000,0.882248,0.330000,2.673479,282.104221,0.625956,0.880875,202302,202312,10,29,BA,0,0,0
158,2905701,Camaçari,2023,26.615823,0.519108,0.302989,1.713291,267.084125,0.416328,1.498550,202309,202341,32,29,BA,2,2015,2019
169,2905909,Campo Alegre De Lourdes,2023,13.478558,0.790134,0.318481,2.480944,605.752813,0.596928,0.531509,202306,202321,15,29,BA,0,0,0
175,2916203,Itapé,2023,7.184233,0.660983,0.300084,2.202656,291.216495,0.546003,2.318013,202302,202317,15,29,BA,0,0,0
178,2908101,Cocos,2023,18.744064,1.158837,0.300793,3.852601,203.639304,0.740435,0.672830,202316,202324,8,29,BA,0,0,0

In [11]:
df_end = df_end.loc[df_end.n_last_ep > 0]

In [12]:
def calculate_start_date(year):
    return f'{year - 1}-10-01'

def calculate_end_date(year):
    return f'{year}-11-01'

# Aplicando a função a cada elemento da coluna 'year_first_ep' e atribuindo os resultados à nova coluna
df_end['start_train_chik'] = df_end['year_first_ep'].apply(calculate_start_date)
df_end['end_train_chik'] = df_end['year_last_ep_before_2023'].apply(calculate_end_date)

/var/folders/ch/kxpr39wx44v97968yr_4hmch0000gn/T/ipykernel_17258/1716605976.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_end['start_train_chik'] = df_end['year_first_ep'].apply(calculate_start_date)
/var/folders/ch/kxpr39wx44v97968yr_4hmch0000gn/T/ipykernel_17258/1716605976.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_end['end_train_chik'] = df_end['year_last_ep_before_2023'].apply(calculate_end_date)

In [13]:
df_end.head()

,geocode,muni_name,year,peak_week,beta,gamma,R0,total_cases,alpha,sum_res,ep_ini,ep_end,ep_dur,uf,state,n_last_ep,year_first_ep,year_last_ep_before_2023,start_train_chik,end_train_chik
30,3304102,Porciúncula,2023,7.408430,0.742929,0.301735,2.462195,510.383085,0.593858,0.746891,202302,202316,14,33,RJ,3,2016,2020,2015-10-01,2020-11-01
8,2303501,Cascavel,2023,21.031323,0.448789,0.300973,1.491123,196.764406,0.329365,1.124633,202302,202339,37,23,CE,3,2017,2022,2016-10-01,2022-11-01
86,2311405,Quixeramobim,2023,18.375030,0.534700,0.304761,1.754491,466.379506,0.430034,0.930290,202302,202332,30,23,CE,3,2016,2022,2015-10-01,2022-11-01
88,2306801,Jaguaribara,2023,16.405845,0.742924,0.308515,2.408069,302.646554,0.584730,1.125556,202309,202325,16,23,CE,1,2017,2017,2016-10-01,2017-11-01
122,2305407,Icó,2023,13.682780,0.429925,0.300100,1.432607,87.124092,0.301972,1.434495,202302,202334,32,23,CE,2,2017,2022,2016-10-01,2022-11-01

In [14]:
df_old = pd.read_csv('selected_cities.csv', index_col = 'Unnamed: 0')

df_old.head()

,geocode,state,sum_cases,POP22,inc,n_last_ep,year_first_ep,year_last_ep_before_2023,region,region_codes,start_train_chik,end_train_chik
0,2211001,PI,2325,868523,267.695847,4,2015,2022,ne,1,2014-10-01,2022-11-01
1,2913606,BA,1858,197163,942.367483,2,2015,2016,ne,1,2014-10-01,2016-11-01
2,2914802,BA,1846,185500,995.148248,2,2016,2022,ne,1,2015-10-01,2022-11-01
3,2111300,MA,1788,1061374,168.460882,2,2016,2022,ne,1,2015-10-01,2022-11-01
4,2925303,BA,1687,158736,1062.770890,2,2016,2017,ne,1,2015-10-01,2017-11-01

In [15]:
np.intersect1d(df.geocode.values, df_old.geocode.values)

array([2913606, 2914802, 2925303, 2928703, 2931350])

In [16]:
df_end.loc[df_end.n_last_ep > 0].shape

(39, 20)

In [17]:
def add_pop(df):
    
    '''
    This function add the population information of the city
    '''
    
    pop = pd.read_csv('./poptcu2010-2022_rgi.csv', sep=',')

    pop.CODMUN7 = pop.CODMUN7.astype(int)

    populacao = df.apply(lambda row: pop[pop.CODMUN7==row[0]][f"POP{str(int(row[1]))[-2:]}"].values[0] if int(str(int(row[1]))[-2:])<23 else pop[pop.CODMUN7==row[0]][f"POP22"].values[0] , axis=1).to_numpy().tolist()
    
    df['populacao'] = populacao
    
    populacao_1 = df.apply(lambda row: pop[pop.CODMUN7==row[0]][f"POP{str(int(row[1])-1)[-2:]}"].values[0] if int(str(int(row[1])-1)[-2:])>=10 else pop[pop.CODMUN7==row[0]][f"POP10"].values[0] , axis=1).to_numpy().tolist()
    
    df['populacao_1'] = populacao_1

    return df

In [18]:
df = add_pop(df)

ValueError: invalid literal for int() with base 10: 'Santo Antônio De Jesus'

In [ ]:
s = df_end

In [ ]:
s.head()

In [ ]:
s.to_csv('s_cities.csv')

In [ ]:
s.geocode.unique().shape

In [ ]:
df_muni = gpd.read_file('../../paper-dengue-sc/muni_br.gpkg')

In [ ]:
muni = s.geocode.unique()

In [ ]:
fig, ax = plt.subplots()

df_muni.plot(ax=ax, color = 'lightgray')

df_muni.loc[df_muni.code_muni.isin(muni)].plot(ax=ax, color = 'red')